.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

__pycache__/
*.py[cod]
*$py.class
backend/.venv/
backend/venv/
.venv/

.env
backend/.env
frontend/.env

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/chroma_db/
chroma_db_data/

backend/documents/*
backend/documents/